h1 {
  display: flex;
  justify-content: center;
}

.sorted {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  justify-content: center;
  text-align: center;
}
