body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1 {
  text-align: center;
  justify-content: center;
  display: flex;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
  cursor: pointer;
}

th:hover {
  background-color: #e0e0e0;
}
